body{
	font-family: Arial, sans-serif;
	font-size: 15px;
	line-height:1.5;
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

.track_button{
	height:40px;
	background:#D92B4B;
	border:none;
	padding-left:20px;
	padding-right:20px;
	color:white;
}

.track_button:hover{
	background:#A62139;
}

.dark{
	padding:10px;
	background:#35424a;
	color:white;
	margin-bottom:20px;
}

#map_canvas {
	height: 800px;
	width: 100%;
}

#spec{
	color:#D92B4B;
}

#side{
	float:right;
	width:30%;
	margin-top:20px;
}

#main-col{
	margin-top:20px;
	float:left;
	width:65%;
}

/*banner*/
#banner{
	min-height:400px;
	background:url('../img/arduino.jpg') no-repeat 50% -100px;
	text-align:center;
	color:white;
	text-decoration:none;
}

#banner H1{
	margin-top:100px;
	margin-bottom:20px;
	font-size:50px;
}

#banner p{
	font-size:20px;
}

/*tracker*/

#track{
	padding: 15px;
	background:#35424a;
	color:white;
}

#track h1{
	float:left;
}

#track form{
	padding-top: 20px;
	float:right;
}

#track input[type="email"]{
	padding:4px;
	height:40px;
	width:250px;
}

/*Header*/
header{
	background:#35424a;
	color:white;
	padding-top:20px;
	min-height:60px;
	border-bottom:#e8491d 2px solid;
}

header a{
	color:white;
	text-decoration:none;
	text-transform:uppercase;
	font-size:15px;
}

header ul{
	padding:0;
	margin:0;
}

header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}

header a:hover{
	font-weight:bold;
	color:grey;
}

header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top:10px;
}

header .current a{
	font-weight:bold;
	color:#D92B4B;
}

#media{
	margin-top:20px;
}

#media .social{
	float:left;
	width:30%;
	text-align:center;
	padding:15px;
}

#media .social img{
	width:140px;
}

footer{
	text-align:center;
	margin-top:10p;
	padding:10px;
	color:white;
	background-color:#35424a;
}


